:root{
  --fundo-vermelho: ;
}

/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%; /* Facilita o uso de rem para dimensionamento */
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem; /* 16px */
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 5.5rem;
  }
  
  h3 {
    font-size: 5rem;
  }
  
  h4 {
    font-size: 4.5rem;
  }
  
  h5 {
    font-size: 4rem;
  }
  
  h6 {
    font-size: 3.5rem;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Estilo do corpo principal */
  .main-body {
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center 15%;
    gap: 3rem;
  }
  
  /* Menu */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 45px;
    background-color: lightgray;
    border-bottom: 3px solid lightgray;
  }
  
  .menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .menu h1 {
    font-size: 2rem;
  }
  
  .menu h1 a {
    font-size: 2rem;
    color: #001D9B;
  }
  
  .menu ul li a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #001D9B;
    position: relative;
  }
  
  /* Efeito hover no menu */
  .menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
  }
  
  .menu ul li a:hover::after {
    width: 50%;
    left: 25%;
  }
  
  /* Relógio Pomodoro */
  .relogio {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: tomato;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    border-radius: 100%;
  }
  
  /* Container do timer */
  .timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 450px;
    height: 500px;
    border-radius: 6%;
    background-color: lightgray;
    z-index: -1;
  }

  /* Botões de controle */
  #Iniciar, #Pausar, #Resetar {
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
  }
  
  .b25, .b10, .b5 {
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: -4.9%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    transform: translate(-50%, -50%);
  }

  .b25{
    background-color: lightgray;
    left: 20%;
  }

  .b10{
    background-color: lightgray;
    left: 80%;
  }

  .b5{
    background-color: lightgray;
    left: 50%;
  }

  #Iniciar {
    background-color: rgb(28, 158, 16);
    left: 20%;
  }
  
  #Pausar {
    background-color: rgb(224, 0, 0);
    left: 50%;
  }
  
  #Resetar {
    background-color: rgb(6, 6, 160);
    left: 80%;
  }
  
  /* Efeito hover nos botões */
  #Iniciar:hover {
    background: rgb(10, 143, 10);
  }
  
  #Pausar:hover {
    background-color: rgb(178, 4, 4);
  }
  
  #Resetar:hover {
    background-color: rgb(5, 5, 118);
  }

  .dimmer{
    background-color: rgb(120, 119, 119);
    z-index: 2;
  }